.header-wrapper {
  margin-top: 31px;
}
.input-holder,
.image-holder {
  display: flex;
  align-items: center;
}
.image-holder img {
  height: 80px;
  width: auto;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header-wrapper {
    margin-top: 24px;
  }
  .image-holder {
    justify-content: center;
    display: flex;
  }
  .image-holder img {
    height: 50px;
    margin-bottom: 24px;
  }
}
