.header-wrapper{
    margin-top: 2rem;
}
.header-wrapper img{
    height: 80px;
    width: auto;
}
@media (max-width: 400px) {
    .header-wrapper img {
        height: 50px;
    }
    .image-holder{
        justify-content: center;
        display: flex;
    }
  }

  @media (max-width: 768px) {
    .header-wrapper img {
        height: 50px;
        margin-bottom: 24px;
    }
    .image-holder{
        justify-content: center;
        display: flex;
    }
  }

  @media (max-width: 1024px) {
    .header-wrapper img {
        height: 50px;
        margin-bottom: 24px;
    }
    .image-holder{
        justify-content: center;
        display: flex;
    }
  }