@import '../../assets/styles/variables.css';
.button{
 display: flex;
 width: fit-content;
 padding: 0.875rem 1.875rem;
 align-items: center;
 color: var(--white);
 cursor: pointer;
 height: 50px;
 box-sizing: border-box;
 cursor: pointer;
}

.content-wrapper{
    display: flex;
    align-items: center;
    font-size: var(--font-size-button);
}
.button.secondary{
    background-color:rgba(0, 0, 0, .4)
}

.primary{
    background-color: var(--color-primary);
}
