@import '../../assets/styles/variables.css';
.button{
 display: flex;
 width: fit-content;
 padding: 13px 28px;
 align-items: center;
 color: var(--white);
 cursor: pointer;
 height: 50px;
 box-sizing: border-box;
 cursor: pointer;
}

.content-wrapper{
    display: flex;
    align-items: center;
    font-size: var(--font-size-button);
    cursor: pointer;
}
.content-wrapper svg{
    margin-right: 1rem;
}
.button.secondary{
    background-color:rgba(0, 0, 0, .4)
}
.button.secondary:hover{
    background-color:rgba(0, 0, 0, .7)
}

.primary{
    background-color: var(--color-primary);
}
.full{
    width: unset;
}
.button.primary:hover{
    background-color: var(--color-primary-dark-1);
}

@media (max-width: 1024px) {
    .button{
        height: 40px;
        padding: 11px 27px;
       }
    .button label {
      font-size: var(--font-size-m-base);
    }
    .button.secondary label{
        font-size: var(--font-size-base);
    }
}