.input {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    box-sizing: border-box;
    height: fit-content;
    height: 62px;
    padding: 6px 6px 6px 18px;

  }
  
  .input input {
    display: flex;
    flex: 1 1 100%;
    border: none;
    font-size: 1.25rem;
    line-height: 23px;
    padding-left: 0.1.125rem;
  }
  .input input:hover,.input input:active,.input input:focus-visible {
    border: none;
    outline: none;
  }

  @media (max-width: 1024px) {
    .input{
      height: 50px;
    }
    .input input {
      font-size: var(--font-size-base);
    }
  }

  